{% extends 'shop/template.html' %}
<!-- loading the static files -->
{% load static %}
{% load blog_tags %}
{% block title %}
  Hope Page
{% endblock %}

{% block content %}
{% for products in all_products %}
  <h3 class="my-3">{{products.0.category}}</h3>
  <div id="carouselExampleControls1{{products.0.id}}" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4">
            <!-- card body -->
            <div class="card" style="width: 18rem; height: 500px;">
              <img src="/media/{{products.0.image}}" class="card-img-top" alt="..." height="200">
              <div class="card-body">
                <h5 class="card-title mb-1">{{ products.0.product_name }}</h5>
                <p class="card-text mb-1">
                  {{ products.0.product_description|slice:'0:50' }}...
                </p>
                <span class="font-weight-bold">Category: </span><span>{{ products.0.category }}</span><br>
                <span class="font-weight-bold">Sub-Category: </span><span>{{ products.0.sub_category }}</span><br>
                <span class="font-weight-bold">Price: </span><span>{{ products.0.price }}</span><br>
                <div id="asdfpr{{products.0.id}}">
                  <a class="btn btn-primary addToCart text-white" id="pr{{products.0.id}}">
                      Add to the Cart
                  </a>
                </div>  
                <br>
                <a href="/shop/product/{{ products.0.id }}" class="btn btn-primary my-2">
                  Quick View
                </a>
              </div>
            </div>
            <!-- end of card body -->
          </div>     
          <!-- end of col-md-3  -->
      {% for product in products|slice:"1:" %}
        <div class="col-md-4">
          <!-- card body -->
          <div class="card" style="width: 18rem; height: 500px;">
            <img src="/media/{{product.image}}" class="card-img-top" alt="..." height="200">
            <div class="card-body">
              <h5 class="card-title mb-1">{{ product.product_name }}</h5>
              <p class="card-text mb-1">
                {{ product.product_description|slice:'0:50' }}...
              </p>
              <span class="font-weight-bold">Category: </span><span>{{ product.category }}</span><br>
              <span class="font-weight-bold">Sub-Category: </span><span>{{ product.sub_category }}</span><br>
              <span class="font-weight-bold">Price: </span><span>{{ product.price }}</span><br>
              <div id="asdfpr{{product.id}}">
                <a class="btn btn-primary addToCart text-white" id="pr{{product.id}}">
                    Add to the Cart
                </a>
              </div>  
              <br>
              <a href="/shop/product/{{ product.id }}" class="btn btn-primary my-2">
                Quick View
              </a>
            </div>
          </div>
          <!-- end of card body -->
        </div>
        {% if forloop.counter|modulo:3 and forloop.counter > 0 and not forloop.last %}
          </div></div><div class="carousel-item"><div class="row">
        {% endif %}
      {% endfor %}
    </div></div>
    <a class="carousel-control-prev" href="#carouselExampleControls1{{products.0.id}}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls1{{products.0.id}}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
{% endfor %}
{% endblock %}




<!-- <script>
 
// A $( document ).ready() block.
$( document ).ready(function() {
  // Funtion to change the cart number 
  // To overwrite the items number
  function overwrite(){
    let sum = 0;
    Object.values(cart).forEach(element => {
      sum+=element;
    });
    document.getElementById("cartDetailLink").innerHTML = sum;
  }

  // Update Cart Button
  function updateCartBtn(cart){
    for(key in cart){
      let id = '#asdf' + key;
      console.log(id);
      $(id).html('apple');
    }
  }

  // Search 'Cart' object in the local storage
  if(localStorage.getItem('cart') == null){
    var cart = {};
  }
  else{
    cart = JSON.parse(localStorage.getItem('cart'));
    overwrite();
  }

  // Event Click Handler Function for "Add to Cart" Button
  $('.addToCart').click(function(){
    product_btn_id = this.id.toString();
    if(cart[product_btn_id] != undefined){
      cart[product_btn_id] = cart[product_btn_id] + 1;
    }
    else{
      cart[product_btn_id] = 1;
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    console.log(cart);
    // Function to overwrite in the 'Cart' link in NavBar
    overwrite();
    updateCartBtn(cart);
  });
});  
</script>






 